.resume-wrap .date {
    font-weight: 900;
    font-size: 26px;
    color: var(--accent-color);
}
.resume-wrap h2 {
    font-size: 26px;
}
.position{
	color: var(--default-color)
}
.resume-wrap .position {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
	border-radius: 5px;
}


.btn.btn-primary{
    border: 1px solid #ffbd39;
    background: var(--accent-color);
    color: #000000;
	border-radius: 35px;
}

#resume-section{
	background-color: #000000;
}